header {
  position: fixed;
  top : 0px;
  left : 0px;
  right : 0px;
}
.header-div {
  display: flex;
  flex-direction: row;
  
  justify-content: space-between;
  height: 55px;
  top : 0px;
  left : 0px;
  right : 0px;
  z-index: 200;

  background-color: rgb(33, 33, 33, 0.9);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(77, 77, 77, 0.7);
  
}
.header-left {
  align-items: center;
  left : 0px;
  height: 100%;
}
.header-left>button {
  height: 100%;
  background-color: rgb(0,0,0, 0.0);
  border: none;
  cursor: pointer;
}
.logoimage {
  margin-left: 10px;
  height: 100%;
}
.header-center {
  display: flex;
  justify-content: center;
  flex: 1;
  margin-left: 70px;
  margin-right : 35px;
  max-width: 500px;
  
  align-items: center; 
}
.header-center>button {
  height: 100%;
  background-color: rgb(0,0,0, 0.0);
  border: none;
  cursor: pointer;
  margin-left: 15px;
}
.location-img {
  padding-top: 3px;
  height: 75%;
}
.search-img {
  padding-top: 3px;
  height: 75%;
}
.preview-img {
  padding-top : 0px;
  height: 75%;
}
.header-right {
  right : 0px;
  padding-right: 7px;
}
.header-right>button {
  margin-top: 7px;
  margin-bottom: 7px;
  border-radius: 4px;
  background-color: rgb(33, 33, 33);
  border : 1px solid #A3A3a3;
  color: #A3A3A3;
  width: 70px;
  height: 67%;
  

}

body{
  margin : 0px;
  height: 1000px;
}
section{
  height: 100%;
  width: 100%;
  background: url(./img/Cheers-bkgr.gif) fixed;
  opacity: 0.7;
  background-size: 100% 100%;
  background-position: center center;
}

/* .header-bar {
  display: flex;
  flex-direction : row;
  justify-content: space-between;
  position: fixed;
  top : 0px;
  left : 0px;
  right: 0px;
  z-index: 100;
  background-color: rgba(33, 32, 32, 0);
  height: 70px;
} */
.header {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position : fixed;
  top : 0;
  left : 0;
  right : 0;
  z-index: 100;
  
  background-color: #21212100;
  opacity: 1;    
}
.left-section {
  display: flex;
  align-items: center;
  height: 100px;
}
.image-logo {
  margin-left: 15px;
  height: 100%;
}
.right-section {
  width: 35%;
  margin-top: 15px;
  margin-right : 20px;
  display : flex;
  align-items: center;
}
.login-btn{
  position: absolute;
  height: 45px;
  width : 70px;
  right:15px;
  background-color: #323232FF;
  border : 1px solid #4d4d4d;
  border-radius: 4px;
  
  color : #7d7d7d;
}
.text-contents{
  position : fixed;
 
  top: 200px;
  margin-left : 80px;
  width : 300px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.slide1 {
  position: absolute;
  color: rgb(255, 255, 255, 1);
  animation: slide 1.5s ease-out;
  width : 350px;
}
.slide2 {
  position: absolute;
  color: rgb(255, 255, 255, 1);
  left : -700px;
  width : 350px;
  animation: disappear 0s ease-out;
}
.login-btn1{
  position: absolute;
  height: 45px;
  width : 70px;
  background-color: #323232FF;
  border : 1px solid #4d4d4d;
  border-radius: 4px;
  margin-top: 10px;
  color : #7d7d7d;
  
}

.login-btn1:hover {
  color : #A3A3a3;
}
.login-btn1:active {
  color: white;
}
.page {
  width:  100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  background-color: rgb(0,0,0, 0.7);
  border-radius: 5px;
  color : rgb(226, 219, 219);
  width: 55%;
  height: 80%; 

}
.form>input {
  width : 77%;
  height: 33px;
  padding-left: 7px;
  border : none;
  
  background-color: rgb(0,0,0, 0);
  color: white;
  
  
  font-size: 15px;
  border-radius: 3px;
  border-bottom: solid 3px #dc2e2e ;
}
.form>input:focus {
  outline: none;
}
.form>button {
  width: 80%;
  height: 40px;
  border : none;
  color: white;
  background-color: #dc2e2e;
  opacity: none;
  border-radius: 3px;
}
.form>label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #dc2e2e;
  padding-bottom: 20px;
}
.form>span {
  width: 80%;
  color: #A3A3a3;
  margin-top : 15px;
}
.login_hyperlink {
  color: white;
  text-decoration: none;
  cursor: pointer, underline;
}
.loginlogo {
  width: 80%;
  margin-bottom: 27px;
  font-size: 35px;
}
.mapstyle {
    padding: 15px 15px 15px 15px;
    width : 90%;
    height: 90%;
    border-radius: 4px;
}
@keyframes slide {
  from {
      left : -700px;
      opacity: 0.5;
  }
  to {
      left : 0px;
      opacity: 1;
  }
  
}

@keyframes disappear {
  from {
     
      left : 80px;
      opacity: 1;
  }
  to {
      left : -700px;
      opacity: 0.5;
  }
}